.process-col-label {
    color: #284891;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 25%;
    height: 20px;
    padding-bottom: 0.5rem;
}

.inactive-process-col-label {
    color: #5793BC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 25%;
    height: 20px;
    padding-bottom: 0.5rem;
}