.process-col-label {
    color: #284891;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
    width: 25%;
    height: 20px;
    padding-bottom: 0.5rem;
}

.inactive-process-col-label {
    color: #5793BC;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
    width: 25%;
    height: 20px;
    padding-bottom: 0.5rem;
}