.projects-table-container {
    width: 95%;
    padding-left: 2rem;
    padding-top: 1rem;
    background: #FBFCFF;
}

.projects-table-div {
    background: #FBFCFF;
    padding-top: 1rem;
}

.projects-table {
    width: 100%;
    padding: 0 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

.projects-table-thead {
    border-bottom: 1px solid #3471AC;
}

.col-label {
    color: #284891;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    width: 10%;
}

.project-name-col {
    width: 25%;
}

.wider-col {
    width: 15%;
}